@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Hello there</h1>
    <p>Random web app for inputing names and dates.</p>
    <p>Press the Testni app button to see the current saved inputs.</p>
</div>
